{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}

    <link rel="stylesheet" href="{{ assets('/assets/css/style.css') }}">

{% endblock %}

{% block body %}
<h2>Veuillez ajouter votre conteneur de produit ci-dessous</h2>
<br>
<div class="marge">
<form method="POST" action=""> 
    <label for="volume">Volume (en ML)</label>
    <input name="volume" id="volume"type="text">
    <input type="submit" value="Ajouter">
</form>
</div>
{% endblock %}

