{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}

    <link rel="stylesheet" href="{{ assets('/assets/css/style.css') }}" >

{% endblock %}

{% block body %}
<h2>Veuillez ajouter votre produit ci-dessous</h2>
<br>
<div class="marge">
<form method="POST" action="" enctype="multipart/form-data"> 
    <label for="libelle">Libellé</label>
    <input name="libelle" id="libelle"type="text"> <br>
    <label for="marque">Volume</label>
    <select name="marque" id="">
        <option value="" selected>---</option>
        {% for marque in marques %}
            <option value="{{ marque.id }}">{{ marque.volume }}</option>
        {% endfor %}
    </select> <br>
    <label for="prix">Prix (€)</label>
    <input name="prix" id="prix"type="text"> <br>
    <input name="image" id="img" type="file"> <br>
    <input type="submit" value="Ajouter">
</form>
</div> 
{% endblock %}