{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}

    <link rel="stylesheet" href="{{ assets('/assets/css/style.css') }}">

{% endblock %}

{% block body %}
<h1>Liste des conteneurs</h1>
<div>
<table>
    <thead>
        <tr>
            <th>Volume</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for marque in marques %}

        <tr>
            <td>{{ marque.volume }}</td>
            <td>
                <a href="{{ path('marque.update', {id: marque.id}) }}">Modifier</a>
                <a href="{{ path('marque.delete', {id: marque.id}) }}">Supprimer</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}