{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}

    <link rel="stylesheet" href="{{ assets('/assets/css/style.css') }}">

{% endblock %}

{% block body %}
<h2>Veuillez ajouter votre conteneur ci-dessous</h2>
<div>
<form method="POST" action=""> 
    <label for="volume">Volume</label>
    <input name="volume" value="{{ marque.volume }}" id="volume"type="text">
    <input type="submit" value="Modifier">
</form>
</div>
{% endblock %}

