{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}

    <link rel="stylesheet" href="{{ assets('/assets/css/style.css') }}" >

{% endblock %}

{% block body %}

<h1>Bienvenue Administrateur de RentCar</h1>

{% endblock %}

