{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}

    <link rel="stylesheet" href="{{ assets('/assets/css/style.css') }}" >
    <link rel="stylesheet" href="{{ assets('/assets/css/adminhome.css') }}" >

{% endblock %}

{% block body %}

<h1>Bienvenue Administrateur de Bio Organique</h1>
<div class="marge"></div>


{% endblock %}

