*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER STYLE */
header{
    display: flex;
    height: 15vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
        /* From https://css.glass */
background: rgba(255, 255, 255, 0.941);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
nav{
    display: flex;
    flex-direction: column;
    width: auto;
    padding-right: 20px;
}
header img{
    padding-left: 20px;
}
.font i{
    color: black;
    margin: 10px ;
}
.font{
    display: flex;
    justify-content: end;
}
nav a{
    text-decoration: none;
    margin: 10px;
    color: black;
}
/* HEADER END STYLE */
h1{
    text-align: center;
}
hr{
    width: 20%;
    margin-left: 40%;
}
article{
    width: auto;
    height: 20vh;
    display: flex;
    flex-direction: column;
}
.discover{
    height: 20vh;
    width: auto;
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}
section{
    display: flex;
    justify-content: space-around;
    height: 50vh;
}
.youtube{
    width: 40%;
    display: flex;
    align-items: center; 
}
.youtube p{
    text-align: center;
}
/* FOOTER STYLE*/
footer{
    display: flex;
    justify-content: space-between;
    height: 40vh;
    width: auto;
    background-color: #F3F2F2;
}
#imgfooter{
    width: 50%;
}
.left{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 100%;
}
.middle{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.right{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* FOOTER END STYLE*/