section{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    padding-left: 25px;
}
.table{
    width: 80%;
    border: solid 1px black;
    margin-top: 5%;
}
th, tr, td{
    border: solid 1px black;
    text-align: center;
}
.promo, .total{
    height: 10vh;
}
button{
    width: 180px;
    background-color: rgb(228, 202, 128);
    border-radius: 5px;
}
span{
    font-size: x-large;
}
#paiement{
    width: 180px;
    background-color: black;
    border-radius: 5px;
    color:rgb(228, 202, 128)
}