*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    width: auto;
}
/* HEADER STYLE */
header{
    display: flex;
    height: 15vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
}
nav{
    display: flex;
    flex-direction: column;
    width: auto;
    padding-right: 20px;
}
header img{
    padding-left: 20px;
}
.font i{
    color: black;
    margin: 10px ;
    font-size: larger;
}
.font{
    display: flex;
    justify-content: end;
}
nav a{
    text-decoration: none;
    margin: 10px;
    color: black;
}
/* HEADER END STYLE */
section{
    height: 75vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
h1{
    text-align: center;
}
hr{
    width: 20%;
    margin-left: 40%;
}
.one{
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    text-align: center;
}
.black, .white{
    width: 60%;
}
.whitee{
    width: 63%;
}
.whiteee{
    width: 61%;
}
.bio{
    border-radius: 50px;
    max-width: 100%;
    max-height: 100%;
    border: solid 1px black;
}
button{
    width: 235px;
    background-color: rgb(228, 202, 128);
    border-radius: 5px;
}

/* FOOTER STYLE */
footer{
    display: flex;
    justify-content: space-between;
    height: 40vh;
    width: auto;
    background-color: #F3F2F2;
}
#imgfooter{
    width: 50%;
}
.left{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 100%;
}
.middle{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.right{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* FOOTER END STYLE */