*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    width: auto;
}
/* HEADER STYLE */
header{
    display: flex;
    height: 15vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.941);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
nav{
    display: flex;
    flex-direction: column;
    width: auto;
    padding-right: 20px;
}
header img{
    padding-left: 20px;
}
.font i{
    color: black;
    margin: 10px ;
    font-size: larger;
}
a i{
    font-size: x-large;
}
.font{
    display: flex;
    justify-content: end;
}
nav a{
    text-decoration: none;
    margin: 10px;
    color: black;
}
/* HEADER END STYLE */
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.texte{
    width: 35%;
}
.img-presentation{
    width: 35%;
}
#discover{
    background-color: rgb(228, 202, 128);
    width: 220px;
    height: 40px;
    border-radius: 25px;
    margin-top: 20px;
    border: none;
}
.second{
    display: flex;
    justify-content: center;
    gap: 3%;
    height: 100vh;
    margin-top: 5%;
}
#presentation{
    border-radius: 50px;
}
.third{
    display: flex;
    justify-content: space-around;
    height: 35vh;
    margin-top: 5%;
}
.usda, .tested, .ecocert, .vertu{
    display: flex;
    width: 30%;
}
.ecocert{
    gap: 3%;
}
.four{
    display: flex;
    justify-content: space-around;
}
/* FOOTER STYLE */
footer{
    display: flex;
    justify-content: space-between;
    height: 40vh;
    width: auto;
    background-color: #F3F2F2;
}
#imgfooter{
    width: 50%;
}
.left{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 100%;
}
.middle{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.right{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* FOOTER END STYLE */
#scroll_to_top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
    border-radius: 50%;
    background-color: rgb(228, 202, 128);
  }
  #scroll_to_top i{
      font-size: x-large;
  }
  a i{
    color: black;
  }
.nav-burger{
    display: none;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 20px;
}
@media screen and (max-width: 780px){
    nav{
        display: none;
    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 50%;
    }
    /* MENU BURGER */
.navbar-burger {
    display: none;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 20px;
}
.navbar-burger-line {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: transform 0.5s ease-in-out;
}
    
}
