{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="./assets/css/about.css">
{% endblock %}

{% block body %}

	<h1>À propos de Bio organique</h1>
	<br>
	<hr>

	<article>
		<div class="discover">

			<p>Découvrez un produit naturel, l'huile d'argan "Bio Organique". Nous sommes spécialiste d'huile d'argan naturel 100% BIO Certifié ECOCERT - USDA - Non tester sur Animaux ! Nous travaillons avec des coopératives de femmes au Maroc pour faciliter à plusieurs familles l'accès à l'éducation, une meilleur gestion des ressources naturelles pour le bien être de l'homme et la planète.</p>
		</div>
	</article>
		<section>
			<div class="youtube">
				<p>PRENEZ SOIN DE VOTRE PEAU, DE VOS CHEVEUX ET DE VOTRE CORPS EN CHOISISSANT EXCLUSIVEMENT DES PRODUITS 100% NATURELS ET BIO (ECOCERT ET UDSA)</p>
			</div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/7S50bSEgsn4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

		</section>

	


{% endblock %}


{% block scripts %}{% endblock %}
