{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="./assets/css/avis.css">
    <link rel="stylesheet" href="./assets/css/style.css">
{% endblock %}

{% block body %}

<h1>Avis clients</h1> <br>
<hr>

<article>
<h2>Votre avis est important pour Bio Organique !</h2>
<p>Avis clients, expériences d'achat, commentaires et évalutations de qualités de nos client. Ils parlent de leurs expériences et de la qualité des produits. Nous portons une attention particulière à la satisfaction de nos clients et à la qualité de nos produits. Votre avis est au coeur de notre entreprise. Laissez votre avis sur Bio Organique et partagez avec les internautes.</p>

<h3>Pourquoi nous vous demandons de laisser un avis ?</h3>

<p>Pour aider les autres acheteurs à faire leurs choix. Et qui est mieux placé pour parler de notre marque que de nos clients. Ils ont vécu l'expérience depuis la commande jusqu'à l'utilisation de nos huiles d'argan pure et bio. Alors n'attendez plus ! Allez sur les produits que vous achetez sur notre site et laissez votre avis clients. Bio Organique c'est la sarisfaction client avant tout avec une gamme d'huile d'argan 100% naturelle et BIO ECOCERT. </p>
</article>

<section>
    <div class="avis">
        <div class="alya">
            <div class="text">
            <p>J'utilise que des produits BIO et j'évite un maximum les produits qui ne sont pas naturels. Je suis assez content du résultat. J'avais un soucis cutané à cause de ma peau très sèche et avec une application matin et soir, ma peau est beaucoup plus douce et mieux hydratée. Elle m´a aidé aussi au niveau de mes cheveux, ils semble un peu plus resistant. Globalement très satisfaite. Merci. Je recommande.ALYA Cliente BIO ORGANIQUE</p>
            </div>
        </div>
        <div class="elodie">
            <div class="text">
            <p>"Très bien dans l'ensemble. Livré comme convenu, du moins un jour avant. L´emballage est bien fait, et le flacons très beau. Il a pris place sur mon coin beauté/soin. Pour ce qui est qui du resultat au niveau utilisation, cela fait deux semaines que je l'utilise est mes démangeaisons sont plus rares et les rougeurs beaucoup moins visible. Je n'ai plus besoin de fond de teint pour cacher. Petite astuce, j'utilise aussi le savon d'alep que j'ai dans mon abonnement avec Bio Organique. Le savon d'Alep semble aider également. Merci.ELODIE Cliente BIO ORGANIQUE</p>
            </div>
        </div>
    </div>
    <div class="notice">
        <div class="amandine">
            <div class="text">
            <p>J'utilise que des produits BIO et j'évite un maximum les produits qui ne sont pas naturels. Je suis assez content du résultat. J'avais un soucis cutané à cause de ma peau très sèche et avec une application matin et soir, ma peau est beaucoup plus douce et mieux hydratée. Elle m´a aidé aussi au niveau de mes cheveux, ils semble un peu plus resistant. Globalement très satisfaite. Merci. Je recommande.ALYA Cliente BIO ORGANIQUE</p>
            </div>
        </div>
        <div class="thierry">
            <div class="text">
            <p>"Très bien dans l'ensemble. Livré comme convenu, du moins un jour avant. L´emballage est bien fait, et le flacons très beau. Il a pris place sur mon coin beauté/soin. Pour ce qui est qui du resultat au niveau utilisation, cela fait deux semaines que je l'utilise est mes démangeaisons sont plus rares et les rougeurs beaucoup moins visible. Je n'ai plus besoin de fond de teint pour cacher. Petite astuce, j'utilise aussi le savon d'alep que j'ai dans mon abonnement avec Bio Organique. Le savon d'Alep semble aider également. Merci.ELODIE Cliente BIO ORGANIQUE</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}