{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="./assets/css/product.css">
{% endblock %}

{% block body %}
<h1>Nos produits</h1> <br>
<hr> <br>
<section>
    <div class="one">
        <div class="black">
            <img class="bio" src="assets/img/Black30.jpg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 30ML - Black collection <br> 29,00€ </p>
        <button>Ajouter au panier</button>
    </div>
    <div class="one">
        <div class="black">
            <img class="bio" src="assets/img/Black50.jpg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 50ML - Black collection <br> 49,00€ </p>
        <button>Ajouter au panier</button>
    </div>
    <div class="one">
        <div class="black">
            <img class="bio" src="assets/img/Black100.jpg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 100ML - Black collection <br> 89,00€ </p>
        <button>Ajouter au panier</button>
    </div>
</section>
<section>
    <div class="one">
        <div class="white">
            <img class="bio" src="assets/img/White30.jpeg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 30ML - Black collection <br> 29,00€ </p> 
        <button>Ajouter au panier</button>
    </div>
    <div class="one">
        <div class="whitee">
            <img class="bio" src="assets/img/White50.jpeg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 50ML - Black collection <br> 49,00€ </p> 
        <button>Ajouter au panier</button>
    </div>
    <div class="one">
        <div class="whiteee">
            <img class="bio" src="assets/img/White100.jpeg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 100ML - Black collection <br> 89,00€ </p> 
        <button>Ajouter au panier</button>
    </div>
</section>












{% endblock %}